@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #121212;
}

#main-div {
    height: 100vh;
    max-height: 100vh;
}

.swal2-popup.swal2-modal.swal2-show {
    background-color: black !important;
}